
.episodeContainer {
	max-width: 45rem;
	padding: 3rem 2rem;
	overflow-y: scroll;

	margin: 0 auto;

	.thumbnailContainer {
		position: relative;
        height: 28vh;

		img {
			border-radius: 1rem;
			height: 100%;
		}

		button {
			width: 3rem;
			height: 3rem;
			border-radius: 0.75rem;
			position: absolute;
			border: 0;
			z-index: 5;
			font-size: 0;

			transition: filter 0.2s;

			img {
				height: 0.9rem;
			}

			&:first-child {
				left: 0;
				top: 50%;

				transform: translate(-50%, -50%);

				background: var(--purple-500);
			}

			&:last-child {
				right: 0;
				top: 50%;

				transform: translate(50%, -50%);

				background: var(--green-500);
			}

			&:hover {
				filter: brightness(0.9);
			}
		}
	}

	header {
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--gray-100);

		h1 {
			margin-top: 2rem;
			margin-bottom: 1.5rem;
		}

		span {
			display: inline-block;
			font-size: 0.8rem;

			& + span {
				margin-left: 1rem;
				padding-left: 1rem;
				position: relative;
			}

			&::before {
				width: 4px;
                height: 4px;
                border-radius: 2px;
                background: #ddd;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
			}
		}
	}

	.description {
		margin-top: 2rem;
		line-height: 1.6rem;
		color: var(--gray-800);

		p {
			margin: 1.5rem 0;
		}
	}
}